accelerate==0.25.0
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
arxiv==2.1.0
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
blis==0.7.11
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
cachetools==5.3.2
catalogue==2.0.10
certifi @ file:///C:/b/abs_91u83siphd/croot/certifi_1700501720658/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.4
contourpy==1.2.0
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
curl-cffi==0.5.10
cycler==0.12.1
cymem==2.0.8
dataclasses==0.6
dataclasses-json==0.6.3
deprecation==2.1.0
distro==1.9.0
duckduckgo_search==4.1.1
effdet==0.4.1
einops==0.7.0
emoji==2.9.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
faiss-cpu==1.7.4
fastapi==0.106.0
feedparser==6.0.10
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.47.0
frozenlist==1.4.1
fschat==0.2.34
fsspec==2023.12.2
gitdb==4.0.11
GitPython==3.1.40
gmpy2 @ file:///C:/ci/gmpy2_1645438895476/work
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.20.1
humanfriendly==10.0
hyperframe==6.0.1
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
importlib-metadata==6.11.0
iniconfig==2.0.0
iopath==0.1.10
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langchain==0.0.344
langchain-core==0.0.13
langchain-experimental==0.0.43
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.75
layoutparser==0.3.4
lxml==4.9.4
Markdown==3.5.1
markdown-it-py==3.0.0
markdown2==2.4.12
markdownify==0.11.6
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
marshmallow==3.20.1
matplotlib==3.8.2
mdurl==0.1.2
metaphor-python==0.1.23
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msg-parser==1.2.0
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
nh3==0.2.15
nltk==3.8.1
numexpr==2.8.8
numpy==1.24.4
olefile==0.47
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==1.6.1
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging==23.2
pandas==2.0.3
pathlib==1.0.1
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
Pillow @ file:///C:/b/abs_20ztcm8lgk/croot/pillow_1696580089746/work
pluggy==1.3.0
portalocker==2.8.2
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.25.1
psutil==5.9.7
pyarrow==14.0.2
pyclipper==1.3.0.post5
pycocotools==2.0.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.13
pydeck==0.8.1b0
Pygments==2.17.2
PyJWT==2.8.0
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pypandoc==1.12
pyparsing==3.1.1
pypdfium2==4.25.0
pyreadline3==3.4.1
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pytesseract==0.3.10
pytest==7.4.3
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.1.0
python-iso639==2023.12.11
python-magic==0.4.27
python-magic-bin==0.4.14
python-multipart==0.0.6
python-pptx==0.6.23
pytz==2023.3.post1
pywin32==306
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
rapidfuzz==3.5.2
rapidocr-onnxruntime==1.3.8
referencing==0.32.0
regex==2023.12.25
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
rich==13.7.0
rpds-py==0.15.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sgmllib3k==1.0.0
shapely==2.0.2
shortuuid==1.0.11
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.19
srsly==2.4.8
starlette==0.27.0
streamlit==1.28.2
streamlit-aggrid==0.3.4.post3
streamlit-antd-components==0.2.5
streamlit-chatbox==1.1.11
streamlit-feedback==0.1.3
streamlit-modal==0.1.0
streamlit-option-menu==0.3.6
strsimpy==0.2.1
svgwrite==1.4.3
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
tabulate==0.9.0
tenacity==8.2.3
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.2
timm==0.9.12
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.4
tqdm==4.66.1
transformers==4.36.2
transformers-stream-generator==0.0.4
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
unstructured==0.11.0
unstructured-inference==0.7.15
unstructured.pytesseract==0.3.12
urllib3 @ file:///C:/b/abs_9cmlsrm3ys/croot/urllib3_1698257595508/work
uvicorn==0.25.0
validators==0.22.0
wasabi==1.1.2
watchdog==3.0.0
wavedrom==2.0.3.post3
wcwidth==0.2.12
weasel==0.3.4
websockets==12.0
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wrapt==1.16.0
xformers==0.0.22.post7
xlrd==2.0.1
XlsxWriter==3.1.9
yarl==1.9.4
youtube-search==2.1.2
zhipuai==1.0.7
zipp==3.17.0
